<!DOCTYPE html>
<html>
  <!-- [RC Notes:]	The first html template to be built was base.html. Here we had the <head> section that dealt with styling- 
    we use two bootstrap style sheets to start off with. 
    And later adding the style sheets built by Sri for more customized view. 
    The first bootstrap was useful for the navbar which is in our final website. -->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='rc_style.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='table_style.css') }}"
    />
    <!-- [RC Notes:]  
     The <title> block in the base html allowed for the title of future pages based on the initial page to be customized 
      and for code to be reused and consistent -->
    <title>{% block title %}Home{% endblock %}</title>
  </head>
  <body>
    <!-- o	Finally, the <body> section, allowed for a consistent body structure throughout the website, 
      the navbar was a primary feature here, and made easier by the bootstrap style sheet. 
      The navbar is collapsable if the website page is made smaller then the navbar becomes a drop down.  -->
    <h1>IMPACT MATCH</h1>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
        <div class="navbar-nav">
          <!-- [RC Notes:] The base.html navbar section defines what can be seen on the navbar and where one is taken when 
           they click on the individual buttons in the navbar. For example home “/” would take you to the “About Us”. 
           The href=”/login” actually corresponds to a @auth.route(‘/login’) in the auth.py file. -->
          {% if user.is_authenticated %}
          <!-- [RC Notes:] The other feature with the navbar that was implemented later in the development process was what 
           views were visible to an authenticated user or unauthenticated user and what was visible to a student or 
           organization. This all uses if statements within the base.html.  -->
            <a class="nav-item nav-link" id="home" href="/">Home</a>
            {% if user.is_student %}
              <a class="nav-item nav-link" id="user_profile" href="/profile">User Profile</a>
              <a class="nav-item nav-link" id="projects" href="/projects">Projects</a>
            {% else %}
              <a class="nav-item nav-link" id="org_profile" href="/org_profile">Organizational Profile</a>
              <a class="nav-item nav-link" id="prospects" href="/prospects">Prospects</a>
            {% endif %}
            <a class="nav-item nav-link" id="logout" href="/logout">Logout</a>
            <a class="nav-item nav-link" id="testimonials" href="/testimonials">Success Stories</a>
          {% else %}
            <a class="nav-item nav-link" id="aboutUs" href="/">About Us</a>
            <a class="nav-item nav-link" id="login" href="/login">Login</a>
            <a class="nav-item nav-link" id="signUp" href="/sign-up">Sign Up</a>
            <a class="nav-item nav-link" id="testimonials" href="/testimonials">Success Stories</a>
          {% endif %}

        </div>
      </div>
    </nav>
    <!-- [RC Notes:]The flash messages were also stored in the base.html. If the flash message was an error it would be red 
     and if it was a success message it would be green. It also allowed you to dismiss the message.  -->
    {% with messages = get_flashed_messages(with_categories=true) %} 
    {% if messages %} {% for category, message in messages %} 
      {% if category == 'error' %}
      <div class="alert alert-danger alter-dismissable fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% else %}
      <div class="alert alert-success alter-dismissable fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endif %} {% endfor %} {% endif %} {% endwith %}

    <div class="container">{% block content %} {% endblock %}</div>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>